#paraforbanner{
    color: #dbdbdb;
}
#paraforbanner{
    color: #dbdbdb;
}
#dateinput{
    width: 50%;
    align-items: center;
}
#graphDiv1{

}
#dateinput{
    width: 17cm;
    align-items: center;
    height: 1.4cm;
    color: white;
}
#headdate{
    text-align: center;
}
#bannerbtn{
    align-items: center;
    width: 3cm;
    border-radius: 19px;
}
#parabtm{
    text-align: center;
    font-weight: bold;
    color: darkgrey;
;
}