{% extends 'block/block.html' %}
{% block title %}CREATE ACCOUNT{% endblock %}
{% block body %}

    <body class="subpage">
    <header id="header">
				<div class="inner">
					<a href="{% url 'register' %}" class="logo">SIGNUP</a>
					<nav id="nav">
                        <a href="{% url 'login' %}">| LOGIN</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
    <section>
    <div class="container">
        <h2>  </h2>
        <form class="form-horizontal" action="" method="post" id="forms" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form_temp/form_template.html' %}
            <div>
                <p>      </p>
                <button id="subBtn" type="submit" name="sub" value="">SAVE </button>
                <button id="subBtn" type="reset"  name="rst" value=>RESET</button>
                {{ array }}

            </div>
        </form>
    </div>
 </section>
</body>
{% endblock %}